* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-height-100 {
  min-height: 100vh;
}

#login-form {
  min-width: 40vw;
}

.form-control {
  color: white !important;
  background-color: #212529 !important;
}



.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(173, 172, 172) !important;
            opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgb(219, 219, 219) !important;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: rgb(173, 172, 172) !important;
 }